{% extends "SdzMainBundle::layout.html.twig" %}

{% block title %} {{ parent() }} - Compte client {% endblock %}

{% block body %}
<h3>Compte client</h3>
<div id="menu">
	<ul>
		<li><a href="#">Commandes</a></li> |
		<li><a href="#">Mon compte</a></li>
	</ul>
</div>
{% endblock %}
